.depends
*.o
*.a
*~
*.bin
*.img
*.x
TAGS
bak
root
*.tar
*.gz
toolchain/build
toolchain/install
toolchain/pkg
toolchain/crossenv
Makefile.arch
arch
kernel/Makefile
userspace/bin
userspace/window/mario/src/mario
